*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: 'Arial';
	transition: .3s;
}

html {
	width: 100%;
}

body {
	transition: 0.4s;
	background: #f2f2f2;
	-webkit-tap-highlight-color: transparent;
}

.dark {
	background: #242424;
}

input::-webkit-input-placeholder {
	color: #343434;
}

.logo svg {
	position: absolute;
	left: 50%;
	bottom: 90px;
	transform: translate(-50%, -50%);
	height: 40px;
	max-width: 150px;
}

.scposition {
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 84%;
	max-width:760px;
}

.search_bg {
	border-radius: 100px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 0 20px 1px #ddd;
	transition: .3s;
}

.search_bg:hover {
	box-shadow: 0 8px 20px 5px #c8c8c8;
}

.dark .search_bg {
	background: #404040;
	box-shadow: 0 5px 15px 5px #222;
}

#search {
	float: left;
	width: 100%;
	height: 50px;
	padding: 0 50px;
	font-size: 16px;
	border: none;
	outline: none;
	color: #343434;
	background: transparent;
}

.dark #search {
	color: #999;
}

.subb {
	position:absolute;
	top: 5px;
	right: 5px;
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 100px;
	background: #400af4;
	box-shadow: 0 0 15px 5px 0;
}

.dark .subb {
	box-shadow: 0 0 15px 5px #383838;
}

.subb:hover {
	background-color: #501af4;
}

.subb svg{
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 24px;
}

.sChoiceBtn {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 40px;
	height: 40px;
	border-radius: 100px;
}

.sChoiceBtn:active {
	background-color: #efefef;
}

.dark .sChoiceBtn:active {
	background-color: #505050;
}

.sChoiceBtn svg {
	position:relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 24px;
}

.scBigBox {
	display: none;
	position: absolute;
	top: 3.5rem;
	left: 10%;
	z-index: 100;
	width: 240px;
	padding: 10px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: #ddd 0 10px 20px 0;
}

.dark .scBigBox {
	background-color: #404040;
	box-shadow: #303030 0 10px 20px 0;
}

@keyframes popin {
	0% {
		transform: scale3d(0, 0, 0);
		opacity: 0;
		transform-origin: 0 0 0;
	}
	100% {
		transform: scale3d(1, 1, 1);
		opacity: 1;
		transform-origin: 0 0 0;
	}
}

.scSmallBox ,a{
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
	color: #343434;
	background-color: #F8F8F8;
}

.dark .scSmallBox,
.dark .scSmallBox a {
	color: #999;
	background-color: #666;
}

.scSmallBox:active {
	background-color: #ccc;
}

.bboxend {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#searchBtn{
	border: none;
	outline: none;
}

.suggest {
	position: absolute;;
	top: 51px;
	width: -webkit-calc(100% - 70px);
	width: -moz-calc(100% - 70px);
	width: calc(100% - 70px);
	max-height: 186px;
	margin: 0 35px;
	border-radius: 0 0 8px 8px;
	overflow: auto;
	background-color: #fff;
	box-shadow: #ddd 0 10px 20px 0;
}

.dark .suggest {
	background-color: #404040;
	box-shadow: #303030 0 10px 20px 0;
}

.suggest::-webkit-scrollbar {
	display: none;
}

.suggest ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.suggest ul li {
	font-size: 0.83rem;
	line-height: 31px;
	padding: 0 15px;
	cursor: pointer;
}

.dark .suggest ul li {
	color: #999;
}

.suggest ul li:hover {
	background-color: #efefef;
}

.dark .suggest ul li:hover {
	background-color: #666;
}

.clear {
	display: none;
	position: absolute;
	right: 50px;
	width: 50px;
	height: 50px;
}
.clear svg{
	height: 24px;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.darkstart {
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}