* { padding:0; margin:0; box-sizing:border-box; /*user-drag:none; -webkit-user-drag:none;*/ }html { height:100%; -webkit-focus-ring-color: transparent; -webkit-tap-highlight-color: rgba(0,0,0,0.1); font-family: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol; }body { min-height:100%; max-width:100%; width:600px; margin: auto; text-align: center; }#gesture-indicator { height:100%; width:100%; max-width:600px; position:absolute; top:0; bottom:0; z-index:0; overflow:hidden; word-break:break-all; }#content { position: absolute; max-width: 600px; width: 100%; }.logo { color: #1b1b1b; font-size: 28px; font-weight: bold;  white-space: normal; word-wrap: break-word; overflow: auto; text-decoration: none; }img.smaller { height: 72px; border-radius: 18px; object-fit: cover; }span { display:block; overflow:hidden; padding-left:5px; vertical-align:middle; }.search_part { display:table; vertical-align:middle; width:90%; max-width:600px; margin:0 auto 20px; padding:0; }.search.icon { width: 12px; height: 12px; border: solid 2px currentColor; border-radius: 100%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); text-align: center; margin: auto; }.search.icon:before { content: ''; position: absolute; top: 10px; left: 3px; height: 5px; width: 2px; background-color: currentColor; }.search_bar { display: table; width: 100%; margin: 15px auto 0; }#search_input { height: 46px; padding: 0 12px; width: 100%; outline: none; border: none; font-size: 15px; background-color: transparent; }#search_submit { display: none; outline: none; height: 46px; width: 56px; float: right; font-size: 15px; font-weight: bold; border: none; background-color: transparent; padding: 0 10px; }.search_bar {border: 1px solid rgba(0, 0, 0, 0.24); border-radius: 24px; background: rgba(255, 255, 255, 0.0);  }.search_bar { color: #1b1b1b; }.search.icon, #search_input, #search_submit { color: inherit; }.opSug_wpr { background: rgba(255, 255, 255, 0.85);  border: 1px solid rgba(0, 0, 0, 0.24); border-radius: 0 0 24px 24px; overflow-y: scroll; line-height: normal; position: absolute; width: 90%; max-width: 600px; margin: -1px 0 0; z-index: 9999; }.opSug_wpr::-webkit-scrollbar {width: 0;}.opSug_wpr table {background: none; padding: 0px; width: 100%; border-spacing: 0;}.opSug_wpr tr {padding: 0px; margin: 0px; display: table-row; vertical-align: inherit; border-color: inherit;}.opSug_wpr tr:hover {color: #FFF; background: #7B90E3;}.opSug_wpr td { color: #1b1b1b; font-size: 14px; padding: 10px 17px; background: none; text-align: left; vertical-align: middle; font: 14px verdana; text-decoration: none; text-indent: 0px;}.search_bar_active {border-radius: 24px 24px 0 0; }.search_bar_active { color: #1b1b1b; background: rgba(255, 255, 255, 0.85); }#bookmark_part { text-align: center; max-width:600px; background-color: transparent; margin: 0 auto; padding: 0; border-radius: 0px; }#box_container { text-align: left; margin: 0 auto; font-size: 0; }.box { vertical-align: top; margin: 4px 9px 4px; width: 46px; border: 0; position: relative; display: inline-block; text-align: center; }.box a { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }.overlay { position: absolute; left: 0; top: 0; border-radius: 23px; width: 46px; height: 46px; }.title { border-radius: 23px; color: #ffffff; width: 46px; line-height: 46px; height: 46px; font-size: 15px; }.url { color: #1b1b1b; margin: 2px 0 0; width: 46px; height: 20px; line-height: 20px; white-space: normal; word-wrap: break-word; overflow: hidden; text-overflow: clip; ms-text-overflow: clip; font-size: 10px; }@media only screen and (min-width: 128px) { #box_container { width: 64px } }@media only screen and (min-width: 192px) { #box_container { width: 128px } }@media only screen and (min-width: 256px) { #box_container { width: 192px } }@media only screen and (min-width: 320px) { #box_container { width: 256px } }@media only screen and (min-width: 384px) { #box_container { width: 320px } }@media only screen and (min-width: 448px) { #box_container { width: 384px } }@media only screen and (min-width: 512px) { #box_container { width: 448px } }@media only screen and (min-width: 576px) { #box_container { width: 512px } }#content { top: 25%; transition: 0.14s; }@media only screen and (min-height:250px) { #content { top: 62px } }@media only screen and (min-height:350px) { #content { top: 87px } }@media only screen and (min-height:450px) { #content { top: 135px } }@media only screen and (min-height:650px) { #content { top: 195px } }@media only screen and (min-height:850px) { #content { top: 255px } }.sort-ghost { opacity: 0.3; }@media (prefers-color-scheme:dark){html { -webkit-tap-highlight-color: rgba(255,255,255,0.1); }.logo { color: #afafaf; }.opSug_wpr td { color: #afafaf; }.title { color: #ffffff; }.url { color: #afafaf; }.search_bar { border: 1px solid rgba(233, 233, 233, 0.24); background: rgba(0, 0, 0, 0.0); }.search_bar { color: #afafaf; }img.smaller, .overlay, .title { -webkit-filter: brightness(75%); filter: brightness(75%); }.opSug_wpr { background: rgba(0, 0, 0, 0.85); border: 1px solid rgba(233, 233, 233, 0.24); }.search_bar_active { color: #afafaf; background: rgba(0, 0, 0, 0.85); }.opSug_wpr td { color: #afafaf; }}/*自定义部分*/
:root{
/*——————整—————体——————*/
--KeyOpen:0.6s;/*开屏动画效果(关闭改成0)*/
--Trantime:0.4s;/*过渡动画效果(关闭改成0)*/
--contop:90vmin;/*整体离顶部的距离*/
--contmove:35vmin;/*整体聚焦下移的距离*/
--BoxRadius:7px;/*主要元素的圆角*/
--Boxblur:5px;/*主要元素的模糊*/
--Boxbg:rgba(255,255,255,.1);/*背景色*/
--BoxBor:1px;/*主要元素的边框粗细*/
--BoxColor:rgba(128,128,128,.2);/*边框颜色*/
--Shadow:0 2px 4px rgba(0,0,0,.1);/*阴影*/
/*——————搜—索—区—域——————*/
--Animation:0s;/*动态渐变效果(关闭改成0)*/
--SearT:-90px;/*引擎浮现动画(关闭改成0)*/
--Sugturn:0.5turn;/*联想词倒序(正序改成0)*/
--SugH:0;/*联想框伸展动画(关闭改成auto)*/
--SugY:6px;/*联想框位置(改成auto显示在下方)*/
--SugWt:var(--SearWt);/*聚焦后联想框宽度*/
--SearWo:80%;/*未聚焦时的搜索框宽度*/
--SearWt:96%;/*聚焦后的搜索框宽度*/
--SearRadius:var(--BoxRadius);/*搜索框的圆角*/
--SearBor:var(--BoxBor);/*搜索框的边框粗细*/
--SubDis:none;/*搜索框放大镜(启用改为block)*/
--ClearDis:block;/*删字按钮(禁用改为none)*/
--ScanDis:block;/*扫码按钮(禁用改为none)*/
--ScanOpa:0.5;/*扫码按钮透明度(0~1内均可)*/
/*————————主页收藏———————*/
--BMnum:5;/*搜索收藏可视数量(禁用搜索书签改为0)*/
--Border:var(--BoxBor);/*收藏边框粗细*/
--BorCol:rgba(200,200,200,.1);/*收藏边框色*/
--Markblur:var(--Boxblur);/*收藏抽屉背景模糊*/
--Markbg:var(--Boxbg);/*收藏抽屉背景色*/
--Boxnum:4;/*每行收藏的最大数量(自适应改为auto)*/
--Heio:2 * 44px;/*收藏抽屉默认状态的高度*/
--Heit:5 * 47px;/*收藏抽屉展开状态的高度*/
--Opacity:0.5;/*多彩收藏的透明度*/
--Contrast:2;/*多彩收藏的对比度*/
--TitRadius:80px;/*收藏单字或图片的圆角*/
--ShowCont:"﹀";/*可展开提示的内容*/
--ShowOp:1;/*可展开提示透明度(0~1内均可)*/

/*不需要收藏抽屉展开部分的，可将本CSS后面的“收藏抽屉展开状态”之后的内容全部删除*/
}

/*夜间模式修改*/
@media (prefers-color-scheme:dark){
:root{
--Contrast:1.5;/*多彩收藏的对比度*/}

.search.icon, #search_input, #search_submit, .opSug_wpr td,.logo,.url{color:rgba(255,255,255,0.8);}
}

/*宽屏情况修改*/
@media only screen and (min-width:450px){
:root{
--contop:13vw;/*整体离顶部的距离*/
--contmove:0;/*整体聚焦下移的距离*/
--SugY:auto;/*联想框位置*/}
}

/*网页内容*/
#content{top:calc(var(--contop) - 70px);will-change:translate;backface-visibility:hidden;}
#content:has(:is(.search_button,.opSug_wpr,#search_submit,#container_copy>.box):hover,#search_input:focus){
translate:0 var(--contmove) 0;
transition:var(--Trantime) ease 1ms;}
/*开屏动画*/
.smaller,#logo,.opSug_wpr,.search_bar,#button_group,#bookmark_part:before{
animation:hi var(--KeyOpen);}
.title,.overlay,.box .url,#box_container .box{animation:hi2 var(--KeyOpen);}
@keyframes hi{0% 
{opacity:0;margin-top:60px;}}
@keyframes hi2{0%{opacity:0;
translate:0 60px 0;}}

/*设置圆角、背景色、模糊*/
.opSug_wpr:has(tr),.search_bar,#container_copy>.box,.title,.search_button,#bookmark_part:before{
backdrop-filter:blur(var(--Boxblur));
border:var(--BoxBor) solid var(--BoxColor);
border-radius:var(--BoxRadius) !important;
background-color:var(--Boxbg);box-shadow:var(--Shadow);}
.title,#bookmark_part:before{
border:var(--Border) solid var(--BorCol);}
/*设置布局方式*/
.smaller,#logo,#container_copy,.opSug_wpr,.search_bar,#button_group,#bookmark_part,#bookmark_part:before{
position:absolute;display:inline-block  !important;}
#search_submit,#scanqr,#fltBtn,#container_copy :is(.url,.title){
position:absolute;}
/*设置无法长按分词的元素*/
.frosted-glass,#scanqr,#fltBtn,.search_button,#logo{user-select:none;}
/*尝试通过css性能优化*/
#logo,.smaller,.opSug_wpr,.search_bar,#fltBtn,#scanqr,.search_button,.box,#bookmark_part:before{will-change:translate,rotate,width,height,max-height,margin,opacity,filter,backdrop-filter;backface-visibility:hidden;translate:0 0 0;}
.opSug_wpr,#container_copy,.search_bar{translate:-50% 0 0;}
/*设置渐变色文字*/
#logo{
background:-webkit-linear-gradient(left,#348DA6,#E6D205 25%,#348DA6 50%,#E6D205 75%,#348DA6);
background-size:200% 100%;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
animation:hi var(--KeyOpen),runs var(--Animation) infinite linear;}
@keyframes runs{to{
background-position:-100% 0;}}
/*会显示的部分*/
:has(:is(.search_button,.opSug_wpr,#search_submit,#container_copy>.box):hover,#search_input:focus) :is(#content,.opSug_wpr,.search_bar,#fltBtn,#search_submit,.search_button,#container_copy>.box),.smaller,#logo,.search_bar,#scanqr,#content,#box_container,#container_copy,#box_container>.box,#bookmark_part:before{
opacity:1;visibility:visible;transition:var(--Trantime) ease 1ms,border 0s;}
/*会隐藏的部分*/
:has(:is(.search_button,.opSug_wpr,#search_submit,#container_copy>.box):hover,#search_input:focus) :is(#box_container>.box,.smaller,#logo,#scanqr),.opSug_wpr,#search_submit,#fltBtn,.search_button,#bookmark_part:hover:before,#container_copy>.box{
opacity:0;visibility:hidden;
transition:var(--Trantime) ease 1ms;}

/*普通logo部分*/
#logo{text-shadow:var(--Shadow);
font-size:39px;translate:-50% -55px 0;
padding:0 8px;white-space:nowrap;
text-decoration:none;}
/*原logo*/
.smaller{translate:-50% -75px 0;}

/*联想框部分*/
.opSug_wpr{
bottom:var(--SugY);width:var(--SearWo);max-height:var(--SugH);background-color:var(--Boxbg);
margin-top:90px;border:0;z-index:3;}
.opSug_wpr:has(tr){
animation:sug var(--Trantime);}
@keyframes sug{0%{opacity:0;max-height:var(--SugH);}}
:has(:is(.search_button,#search_submit,.opSug_wpr,#container_copy>.box):hover,#search_input:focus) .opSug_wpr{width:var(--SugWt);max-height:190px;}
.opSug_wpr table{table-layout:fixed;}
.opSug_wpr td{
border-radius:calc(var(--BoxRadius) - 1px);
word-break:break-all;white-space:nowrap;
padding-left:11px;overflow:scroll;}
.opSug_wpr tr:hover{
background-color:rgba(140,150,230,.6);}
.opSug_wpr :is(table,td){rotate:var(--Sugturn);}

/*搜索收藏*/
#container_copy{
width:var(--SearWo);text-align:left;
white-space:nowrap;overflow:scroll;
margin-bottom:9px;}
:has(#S4B:empty) #container_copy{max-width:0;
transition:var(--Trantime) ease 1ms;}
#container_copy>.box{width:0;
height:35px;margin:0;border:0;}
#container_copy .title{
filter:contrast(var(--Contrast));
text-indent:-99cm;height:100%;}
#container_copy .overlay{opacity:0;}
#container_copy .url{top:50%;translate:0 -50% 0;margin:0;}

/*搜索框*/
.search_bar{
width:var(--SearWo);border-width:var(--SearBor);border-radius:var(--SearRadius) !important;margin:0;z-index:4;}
:has(:is(.search_button,.opSug_wpr,#search_submit,#container_copy>.box):hover,#search_input:focus) :is(.search_bar,#container_copy){width:var(--SearWt);}
.search_bar span{padding:0;}
.search_part{margin:0;width:100%;}
/*搜索框内放大镜*/
#search_submit{right:0;
display:var(--SubDis) !important;
width:max-content;margin:0 8px 0 0;}
:has(:is(.search_button,.opSug_wpr,#container_copy>.box,#search_submit,#fltBtn):hover,#search_input:focus) :is(#search_submit,#fltBtn){position:static;float:right;}

/*收藏部分*/
/*收藏抽屉默认状态*/
#bookmark_part{
border-radius:var(--BoxRadius);height:calc(var(--Heio));width:calc(var(--SearWo) + 1.5%);border:var(--BoxBor) solid transparent;transition:var(--Trantime) ease 1ms,backdrop-filter 0s;
translate:-50% 46px 0;margin:2px 0;
box-sizing:content-box;padding:0 2.6%;
background-color:transparent;will-change:background-color,height;backface-visibility:hidden;}
:has(:is(.search_button,.opSug_wpr,#search_submit,#container_copy>.box):hover,#search_input:focus) :is(#box_container,#bookmark_part){height:0;transition:var(--Trantime) ease 1ms;}
#box_container{
height:calc(var(--Heio));width:100%;
overflow:scroll;padding-bottom:3px;}
/*隐藏溢出部分*/
.box{overflow:hidden;}
/*收藏文字(填满宽度)*/
.title,.box .url{width:100%;}
/*收藏图片(设定圆角)*/
.title,.overlay{
border-radius:var(--TitRadius);}

/*↓将收藏变为卡片↓*/
#box_container .box{
backdrop-filter:blur(var(--Boxblur));width:calc((100%/var(--Boxnum)) * (18/20)) !important;margin:6px calc((100%/var(--Boxnum)) * (1/20)) 0;border-radius:var(--BoxRadius) !important;background-color:var(--Boxbg);box-shadow:var(--Shadow);
height:35px !important;}
.title,.overlay,.box .url{animation:0s;}
/*收藏单字(隐藏但保留多彩)*/
.title{
position:absolute;filter:contrast(var(--Contrast));height:100%;text-indent:-99cm;border-radius:0;}
/*收藏图片(隐藏)*/
.overlay{opacity:0;}
/*收藏底部文字(移入收藏内)*/
.box .url{
position:relative;top:50%;translate:0 -50% 0;margin:0;}
/*↑将收藏变为卡片↑*/

/*↓收藏抽屉展开↓*/
#bookmark_part:is(:hover,:before){backdrop-filter:blur(var(--Markblur));background-color:var(--Markbg);box-shadow:var(--Shadow);}
#bookmark_part:hover{
border:var(--BoxBor) solid var(--BoxColor); height:calc(var(--Heit));
margin-top:11px;z-index:3;padding-top:7px;padding-bottom:7px;}
#bookmark_part:hover #box_container
{height:100%;}
#bookmark_part:before{
translate:-50% calc(var(--Heio) + 2px) 0;content:var(--ShowCont);animation:hi4 calc(var(--KeyOpen)*1.4);opacity:var(--ShowOp);
width:50px;padding-top:4px;border-width:1px;}
@keyframes hi4{0%,50%{opacity:0;}}
#bookmark_part:hover:before{translate:-50% calc(var(--Heit)) 0;}
#bookmark_part:hover #box_container>.box{margin-bottom:6px;}
:has(:is(.search_button,.opSug_wpr,#search_submit,#container_copy>.box):hover,#search_input:focus) #bookmark_part:before{filter:opacity(0);translate:-50% 13px 0;}
:has(#bookmark_part:hover) #search_input{
visibility:hidden;opacity:0;transition:var(--Trantime);}
/*↑收藏抽屉展开↑*/